.admin-layout {
  display: flex;
  min-height: 100vh;
}

.admin-sidebar{
  width: 20%;
  height: 100vh;
}

/* Right side content */
.admin-main {
  width: 80%;
  background: #f4f4f4;
  min-height: 100vh;
}
