/* Contact Form */
.contact-form {
  width: 100%;
}
.contact-form h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: 600;
  color: #555;
}

.form-control {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border 0.3s;
}

textarea.form-control {
  min-height: 150px;
  resize: vertical;
}

.submit-btn {
  background-color: #fac6ae;
  color: black;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.submit-btn:hover,
.subscribe-section a:hover,
.social-icons a:hover {
  background-color: #f2a68c;
  color: white;
}