/* featured */
.product-container {
  height: auto;
  width: 100%;
}


.products {
  padding: 20px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}
.product-grid{
  display: grid;
  gap: 20px;
}
.product-grid-1 {
  grid-template-columns: repeat(1, 1fr);
}

.product-grid-2 {
  grid-template-columns: repeat(2, 1fr);
}

.product-grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.product-grid-4 {
  grid-template-columns: repeat(4, 1fr);
}

/* product not found */
.no-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  text-align: center;
}

.no-products-img {
  max-width: 520px;
  width: 100%;
  height: auto;
}

.no-products p {
  font-size: 16px;
  color: #777;
}
.no-products-img {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 0.9;
    transform: scale(1);
  }
}

@media (max-width: 1200px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
  }

  .product-grid-1 {
  grid-template-columns: repeat(1, 1fr);
  }

  .product-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}



/* large phones */
@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  .product-grid-1 {
  grid-template-columns: repeat(1, 1fr);
  }

  .product-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-grid-3 {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-grid-4 {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (max-width: 576px) {
  .products {
    padding: 15px 10px;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
  .product-grid-1 {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
    max-width: 350px;
  }
  
  .product-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Very small phones */
@media (max-width: 400px) {
  .product-grid {
    grid-template-columns: 1fr;
    max-width: 300px;
    margin: 0 auto;
  }

  .product-grid-1 {
  grid-template-columns: repeat(1, 1fr);
  }
  .product-grid-2 {
    grid-template-columns: repeat(2, 1fr);
  }

}

/* Large desktops */
@media (min-width: 1400px) {
  .product-grid {
    gap: 25px;
  }
}