/* ------------------ Custom Fonts ------------------ */
/* Roboto Custom Font */
@font-face {
  font-family: "RobotoCustom";
  src: local("Roboto"), url("../public/assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Poppins Custom Font */
@font-face {
  font-family: "PoppinsCustom";
  src: local("Poppins"), url("../public/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ------------------ Global font styles ------------------ */

body {
  font-family: 'PoppinsCustom', 'Arial', sans-serif; /* default body font */
}

/* Headings */
h1, h2, h3, h4, h5, h6, input, textarea, select{
  font-family: 'RobotoCustom', sans-serif;
}

/* Paragraphs */
p {
  font-family: 'PoppinsCustom', sans-serif;
}

/* ================== RESET / GLOBAL CSS ================== */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}
