.bannerswiperslide{
  height: 70vh;
}
.banner-image {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.banner-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (max-width: 768px) {
  .bannerswiperslide{
    height: auto;
  }
  
}